/* ****************** STYLE GUIDE *********** */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-highlight: #f8475f;
  --color-grey-1: #f2f2f2;
  --color-grey-2: #c0c0c0;
  --color-grey-3: #bfbfbf;
  --color-grey-4: #bdbdbd;
  --color-grey-5: #7a7a7a;
  --color-grey-6: #585858;
  --color-grey-7: #333333;
  --swiper-theme-color: #f8475f;
  --font-nunito: 'Nunito', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-nunito);
}

header {
  background-color: var(--color-white);
  height: 115px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  height: 30%;
  align-items: baseline;
}

.logo {
  height: 100%;
  width: auto;
}

.cart {
  display: flex;
  align-items: center;
}

.cuantity-items {
  width: 18px;
  height: 18px;
  background-color: var(--color-highlight);
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuantity-items p {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.search {
  border-bottom: solid 1px var(--color-grey-5);
  display: flex;
  padding: 0.25rem;
}

.search input {
  border: none;
  font-size: 16px;
  padding: 4px;
  flex-grow: 1;
}

.search input::placeholder {
  color: var(--color-grey-5);
}

/* ********* Promotional slider    ******************** */

.swiper-container{
  width: 100%;
  height: 255px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide-promo-1 {
  background-image: url("./assets/img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-promo-1 .text {
  background-color: #33333371;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.slide-promo-1 .text p{
  margin: 0;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.5rem;
}

.slide-promo-1 .text h3 {
  margin: 0;
  color: var(--color-white);
  font-weight: 700;
  font-size: 2rem;
}

/************* products section ************** */

.products {
  background-color: var(--color-white);
}

.products .swiper-container{
  width: 100%;
  height: 355px;
}

.products h2{
  font-size: 1.125rem;
  margin-left: 3rem;
  font-weight: 900;
}

.bar {
  margin: -0.15rem 0 0.5rem 3rem;
  height: 4px;
  width: 3rem;
  background-color: var(--color-grey-2);
}


/* **************** product slide content **************** */
.swiper-slide .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey-5);
  font-size: 0.9rem;
  justify-content: space-around;
}

.product-img {
  width: 160px;
  height: 150px;
}

.product-img img {
  height: 100%;
  width: 100%;
}
.swiper-slide .content .last-price{
  text-decoration: line-through;
} 

.swiper-slide .content .actual-price{
  color: var(--color-black);
  font-size: 1.3rem;
}

.swiper-slide .content .score{
  color: var(--color-highlight);
}

.swiper-slide .content button {
  align-self: stretch;
  margin: 0 1rem;
  border-radius: 5.57px;
  padding: 0.6rem 2rem;
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-ubuntu);
  font-weight: 900;
  border: none;
}


.swiper-slide .content > * {
  margin-top: 0.025rem;
  margin-bottom: 0.025rem;
}



