/* ****************** STYLE GUIDE *********** */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-highlight: #f8475f;
  --color-grey-1: #f2f2f2;
  --color-grey-2: #c0c0c0;
  --color-grey-3: #bfbfbf;
  --color-grey-4: #bdbdbd;
  --color-grey-5: #7a7a7a;
  --color-grey-6: #585858;
  --color-grey-7: #333333;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 115px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  height: 30%;
  align-items: baseline;
}

.logo {
  height: 100%;
  width: auto;
}

.cart {
  display: flex;
  align-items: center;
}

.cuantity-items {
  width: 18px;
  height: 18px;
  background-color: var(--color-highlight);
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuantity-items p {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.search {
  border-bottom: solid 1px var(--color-grey-5);
  display: flex;
  padding: 0.25rem;
}

.search input {
  border: none;
  font-size: 16px;
  padding: 4px;
  flex-grow: 1;
}

.search input::placeholder {
  color: var(--color-grey-5);
}
